<body>
  <%- include('components/header'); %>
  <div class="into">
    <div class="rinto">
      <img class="base" src="img/prueba2.jpg" alt="hidden" />
      <div class="text-front">
        continua con lav, aun no has llegado al final.
      </div>
    </div>
  </div>
  <div class="contenedor">
    <div class="elemento">
      <h2>Productos</h2>
      Trabajamos para brindar productos de calidad y confiables de acuerdo a las
      necesidades de cada uno de nuestros clientes. Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Ullam, temporibus maiores! Natus nisi nihil,
      vero inventocontrolnostrum distinctio ipsam libero dolore aliquam alias
      facilis expedita a, quibusdam harum nam perferendis
    </div>
    <div class="elemento">
      <img class="elemento-img" src="img/page1.gif" alt="logo" />
    </div>
    <div class="elemento">
      <img class="elemento-img" src="img/page2.png" alt="logo" />
    </div>
    <div class="elemento">
      <h2>Nuestro equipo</h2>
      Especialistas en brindar un buen servicio, ágil y confiable. Creemos que
      cada proyecto constituye una meta compartida con nuestros clientes y
      trabajamos para brindar un servicio con foco en la excelencia.
    </div>
    <div class="elemento">
      <h2>Quienes somos</h2>
      SOMOS UN EQUIPO COMPROMETIDO DE PROFESIONALES INTEGRADO POR UN GRUPO DE
      PERSONAS ENTUSIASTAS DEDICADAS, CON EL FIN DE COLABORAR EN LA SOCIEDAD
      PARA EL ÓPTIMO DESARROLLO Y BIENESTAR DE LA SALUD CON PRODUCTOS DE
      CALIDAD.
    </div>
    <div class="elemento">
      <img class="elemento-img" src="img/page3.png" alt="logo" />
    </div>
  </div>
  <%- include('components/footer'); %>
</body>
