<!DOCTYPE html>
<link rel="shortcut icon" href="/img/raton.png">
<body>
    <%- include('components/header'); %>
    <div class="into">
        <div class="rinto">
            <img class="base" src="img/prueba2.jpg" alt="hidden">
            <div class="text-front">continua con CRECEMPRENDEDOR, aun no has llegado al final.</div>
        </div>
    </div>
    <div class="contenedor">
        <div class="elemento">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, temporibus maiores! Natus
            nisi nihil, vero inventore ipsum repellat necessitatibus molestiae consectetur alias amet molestias aperiam.
            Quod aliquid labore blanditiis nihil nostrum distinctio ipsam libero dolore aliquam alias facilis expedita
            a, quibusdam harum nam perferendis dicta nobis suscipit, ratione perspiciatis sit.
            nisi nihil, vero inventore ipsum repellat necessitatibus molestiae consectetur alias amet molestias aperiam.
            Quod aliquid labore blanditiis nihil nostrum distinctio ipsam libero dolore aliquam alias facilis expedita
            a, quibusdam harum nam perferendis</div>
        <div class="elemento"><img class="elemento-img" src="img/page1.gif" alt="logo"></div>
        <div class="elemento"><img class="elemento-img" src="img/page2.png" alt="logo"></div>
        <div class="elemento">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dignissimos dolorum iste.
            Ducimus ipsam qui nobis accusantium minima quo maxime sed fuga. Officia nam ipsum optio delectus reiciendis
            esse ut eaque animi laboriosam! Tenetur quos fugiat iure repudiandae vero, exercitationem delectus suscipit.
            Architecto aspernatur molestias officiis maxime sapiente, quasi fuga quo suscipit odio nihil, facilis iure
            provident accusamus, nemo atque. Aperiam odio reprehenderit, vel, nihil iure facilis sit sequi adipisci
            earum deleniti modi fugiat voluptatem.</div>
        <div class="elemento">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, voluptatibus. Et accusantium
            autem expedita similique, sit quo saepe hic fuga! Recusandae, eveniet. Quod a obcaecati labore delectus
            nihil aperiam dolorum saepe, nobis, quos impedit maiores ullam, vitae tempora! Dolor minima et optio aliquid
            ea voluptas eos odio ullam quisquam neque distinctio, soluta voluptatem consequatur iste numquam
            accusantium, impedit est voluptate quibusdam consectetur ducimus. Odio vel earum quis eligendi eos
            voluptatum harum quibusdam animi impedit eveniet!</div>
        <div class="elemento"><img class="elemento-img" src="img/page3.png" alt="logo"></div>
    </div>
    <%- include('components/footer'); %>
</body>

</html>