html {
  font-size: 100%;
}

* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}

/* body {
    background: #085078; 
background: -webkit-linear-gradient(to right, #85D8CE, #085078);  
background: linear-gradient(to right, #85D8CE, #085078); 
    background-size: cover;
    color: black;
    align-items: center;
    font-family: 'Lato', sans-serif;
} */

.container-grid {
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}
.container-grid img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* .container-grid div {
    padding: 1em;
}

.container-grid div:hover {
    border: 1px solid #0f97f1;
} */
