<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Register ProSalud </title>
        <link href="/css/bootstrap.min.css" rel= "stylesheet">
        <link rel="shortcut icon" href="/img/register.png">
       
        <style>
            body{
                background: rgb(0, 77%, 71%);
                background: linear-gradient(to right, rgb(35, 149, 255), hsl(244, 66%, 78%));
            }
            
            .bg {
              background-image: url(/img/life.png);
              background-repeat: no-repeat;
              background-position: center center;
            }
        </style>
    </head> 
<body>
        
        <div class="container w-75 bg-transparent mt-5 rounded shadow">
          <div class="row align-items-stretch">
              <div class="col bg d-none d-lg-block col-md-5 col-lg-5 cold-xl-6 rounded">
                   
               </div>   
               <div class="col p-5">
                   <div class="text-right">
                      <img src="/img/LogoProSalud.png" width="130" alt="">
                   </div>

                   <h2 class="fw-bold text-center py-5">Bienvenido Registrate</h2>

                   <!-- LOGIN -->

                    <form action="/user/register" method="POST">
                        <div class="mb-4">
                          <label for="cedula" class="form-label">Cedula</label>
                          <input type="text" class="form-control" name="cedula">
                        </div>
                        <div class="mb-4">
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nombre">
                        </div>
                        <div class="mb-4">
                          <label for="direccion" class="form-label">Dirección</label>
                          <input type="text" class="form-control" name="direccion">
                        </div>
                        <div class="mb-4">
                          <label for="telefono" class="form-label">Telefono</label>
                          <input type="tel" class="form-control" name="telefono">
                        </div>
                        <div class="mb-4">
                          <label for="email" class="form-label">Correo Electronico</label>
                          <input type="email" class="form-control" name="email">
                        </div>
                        <div class="mb-4">
                          <label for="password" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password">
                        </div>
                      <div class="mb-4 form-check">
                          <input type="checkbox" name="connected" class="form-check-input">
                          <label for="connected" class="form-check-label">Mantener la conexion</label>
                      </div>

                      <div class="d-grid text-center">
                        <button type="submit" class="btn btn-secondary">Registrate</button>
                      </div>
                      <div class="my-3">
                        <span>Tienes una cuenta? <a href="/user/login">Inicia sesion</a></span> <br>
                    </div>
                    </form>



                    <!-- Login con redes sociales-->
                    <div class="container text-center">
                        <div class="text-center">
                           <div class="col-20">Iniciar Sesion</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-primary w-100 my-1">
                                  <div class="row align-items-center">
                                    <div class="col-2">
                                      <img src="/img/fb.png" width="35" alt="">
                                    </div>

                                    <div class="col-10 text-center">
                                        Facebook
                                    </div>
                                  </div>
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-danger w-100 my-1">
                                  <div class="row align-items-center">
                                    <div class="col-2">
                                      <img src="/img/google.png" width="32" alt="">
                                    </div>

                                    <div class="col-10 text-center">
                                        Google
                                    </div>
                                  </div>
                                </button>
                            </div>
                        </div>       
                    </div>
                </div> 
            </div>
        </div>

    <script src="/css/bootstrap.bundle.min.js"></script>
</body>
</html>